/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

header img {
  max-width: 6%;
  display: block;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a img {
  max-width: 17%;
  border-radius: 50%;
}

nav ul li a img:hover {
  max-width: 20%;
  border-radius: 50%;
  border-style: groove;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  text-align: justify;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position:static;
  bottom: 0;
  width: 100%;
}

footer img {
  max-width: 2%;
  border-radius: 50%;
  border-style:inset;
}

footer img:hover {
  max-width: 2%;
  border-radius: 50%;
  border-style: solid;
}

/* Media queries (exemplo) */
@media (max-width: 768px) {
  /* Estilos para telas menores que 768px */
  nav ul {
    flex-direction: column;
  }
  /* Outros ajustes */
}
